@import "./variables";

.itemHeader {
  width: 200px;
  margin-bottom: 5px !important;
  color: $fontBlackThemeColor !important;
}

.content {
  margin-top: 15px !important;
  color: $fontBlackThemeColor !important;
}