@import "./variables";

.itemHeader {
  width: 200px;
  margin-bottom: 5px !important;
  color: inherit;
  &_blackTheme {
    color: $fontBlackThemeColor !important;
  }
  &_whiteTheme {
    color: $fontWhiteThemeColor !important;
  }
}

.content {
  margin-top: 15px !important;
  color: $fontBlackThemeColor !important;
}