@import "./variables";

.projects_wrapper {
  width: 900px;
  margin-left: 40px;
  @media (max-width: 600px) {
    display: none;
  }
}

.in_development {
  display: none;
  @media (max-width: 599px) {
    text-align: center;
    display:block;
    font-size: 10px;
  }
}