@import "./variables";

.project_item_wrapper {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  -webkit-box-shadow: 2px 1px 8px -3px #454545;
  box-shadow: 2px 1px 8px -3px #454545;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 5px;

  .title_wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 5px;
    height: fit-content;

    @media (max-width: 420px) {
      justify-content: space-between;
    }

    .btn {
      max-width: 8%;
      height: 25px;
      width: 25px;
      box-sizing: border-box;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      button {
        height: 25px;
        width: 25px;
        border: none;
        background-color: transparent;
        -webkit-transition: -webkit-transform 0.4s ease-in-out;
        -ms-transition: -ms-transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out;
        box-sizing: border-box;
        padding: 0;
        position: relative;

        svg {
          position: absolute;
          top: 4px;
          left: 3px;
          margin: 0;
        }
      }
      .open {
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform-origin: 45% 45%;
        transform-box: border-box;
      }

      .close {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform-origin: 45% 45%;
        transform-box: border-box;
      }
    }
    .title {
      width: 90%;
      font-weight: bold;
      font-style: italic;
      color: forestgreen;
      width: 100%;

      @media (max-width: 400px) {
        width: 70%;
      }
    }
  }

  .description_wrapper {
    width: 95%;
    box-sizing: border-box;
    padding-left: 10px;

    .description {
      font-size: 12px;
      width: 100%;
    }
  }

  .links_wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 30px;
    width: 100%;

    @media (max-width: 400px) {
      width: 25%;
      &_open {
        justify-content: flex-end;
        width: 100%;
      }
    }
  }
}
