@import "./variables";

.projects_wrapper {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  //border: 1px solid firebrick;
  @media (max-width: 600px) {
    //display: none;
  }
}

.in_development {
  display: none;
  @media (max-width: 599px) {
    text-align: center;
    display: block;
    font-size: 10px;
  }
}
