@import "./variables";

.wrapper_outer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $wrapperOuterBackgroundColorBlack;
  position: relative;
  // display: none;
}

.wrapper_inner {
  color: var(--fontBlackThemeColor);
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.whiteTheme {
  :global{
    * {
      color: var(--fontWhiteThemeColor);

    }
  }
}