@import "./variables";

.wrapper_outer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $wrapperOuterBackgroundColorBlack;
}

.wrapper_inner {
  background-color: $wrapperInnerBackgroundColorBlack;
  border: 4px solid $innerWrapperBorderColor;
  border-radius: 30px;
  max-width: 1000px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
