@font-face {
  font-family: "RobotoBlack";
  src: local("RobotoBlack"), url('./fonts/Roboto-Black.ttf') format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"), url('./fonts/Roboto-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "RobotoLight";
  src: local("RobotoLight"), url('./fonts/Roboto-Light.ttf') format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"), url('./fonts/Roboto-Medium.ttf') format("truetype");
}

@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"), url('./fonts/Roboto-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "RobotoThin";
  src: local("RobotoThin"), url('./fonts/Roboto-Thin.ttf') format("truetype");
}


* {
  font-family: "RobotoLight", serif !important;
}

.wrapper-outer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper-inner {
  border: 4px solid rgb(169, 157, 157);
  border-radius: 30px;
  max-width: 1000px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}
