@import './components/styles/_variables.scss';

@font-face {
  font-family: "RobotoBlack";
  src: local("RobotoBlack"), url("./fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: local("RobotoBold"), url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoLight";
  src: local("RobotoLight"), url("./fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: local("RobotoMedium"),
    url("./fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoRegular";
  src: local("RobotoRegular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoThin";
  src: local("RobotoThin"), url("./fonts/Roboto-Thin.ttf") format("truetype");
}

* {
  font-family: "RobotoLight", serif !important;
  color: var(--fontBlackThemeColor);
}

body {
  background-color: var(--bodyBackgroundColorBlack) !important;
  position: relative;
}

#canvasContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
}
